
.dataGridWrapper {
  flex: 4;
  height: 100%;
  width:1440px;
  margin-top: 58px;
 
}
.dataGrid{
  background-color: #FFFF;
}
.MuiDataGrid-root {
  border: none!important
}

.callType {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.callDuration {
  display: flex;
  align-items: center;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.callDurationIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.callDurationIcon:hover{
  cursor:pointer;
  opacity: 0.6;
}
.personAvatar{
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.personImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    color: red;
    cursor: pointer;
}